snippet ent
`!v strftime("%Y/%m/%d")` ${1:transaction}
	${2:account}	${3:value}
    ${4}
endsnippet

snippet clockin
i `!v strftime("%Y/%m/%d %H:%M:%S")`
endsnippet

snippet clockout
o `!v strftime("%Y/%m/%d %H:%M:%S")`
endsnippet
