extends tex

snippet timin
`!v strftime("%d%m%y %X")` 
endsnippet

snippet th
`!v strftime("# %T")`
endsnippet

snippet hj
`!v strftime("[%d](%Y-%m-%d.md)")`
endsnippet

snippet cth
`!v strftime("## %Y-%m-%d %T")`
endsnippet

snippet bugr
# bug$1

tags: $2

## Descrição

$0
endsnippet
